.navMenu {
    background-color: rgb(0, 0, 0) !important;
    position: sticky;
    top: 0;
    z-index: 999;
}
.fixedMenu {
    position: fixed;
    top: 0;
}
.linkNav {
    font-size: 1.3em;
}
.itemNav {
    border-radius: 5px;
}
.itemNav:hover {
    background-color: white;
    transition: 0.3s;
}
.itemNav:hover .linkNav {
    color: black !important;
    transition: 0.3s;
}