.App {
  background-image: url('/ressources/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.containerBlackApp{
  background-color: rgba(0, 0, 0, 0.8);
}
.arrowUp {
  position: fixed;
  bottom: 0;
  right: 40px;
  font-size: 4em;
  opacity: 0.4;
  z-index: 998;
}
.arrowUp a {
  color: black !important;
}
.iconArrowUp {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.download-cv-button {
  position: fixed;
  z-index: 1000;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  background-color: #d20000;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  transition: all .2s ease-in-out;
}

.download-cv-button:hover {
  color: white;
  text-decoration: white;
}

.title-download-cv-button {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.icon-download-cv-button {
  height: 30px;
  width: 30px;
}

/* /////////////////////////// */

/* --- Mobile --- */
@media screen and (max-width: 540px) {
  .App {
    background-size: 500%;
  }
  .arrowUp {
    font-size: 2.5em;
  }
}
/* --- Mobile --- */

/* /////////////////////////// */