.App {
  background-image: url('/ressources/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.containerBlackApp{
  background-color: rgba(0, 0, 0, 0.8);
}
.arrowUp {
  position: fixed;
  bottom: 0;
  right: 40px;
  font-size: 4em;
  opacity: 0.4;
  z-index: 998;
}
.arrowUp a {
  color: black !important;
}
.iconArrowUp {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

/* /////////////////////////// */

/* --- Mobile --- */
@media screen and (max-width: 540px) {
  .App {
    background-size: 500%;
  }
  .arrowUp {
    font-size: 2.5em;
  }
}
/* --- Mobile --- */

/* /////////////////////////// */